.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  z-index: 555;
  transition: 0.5s all ease;

  &.active {
    background-color: whitesmoke;
    color: gray;

    .navLinks {
      button {
        background-color: white !important;
        color: black !important;
        border-color: #3af0a1 !important;
      }
    }
  }

  .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .dot {
        font-size: 42px;
        color: #3af0a1;
      }
    }

    .navLinks {
      display: flex;
      gap: 34px;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      white-space: nowrap;
      padding-bottom: 2.5px;

      span {
        display: flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap;

        img {
          width: 15px;
          height: 15px;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        .options {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 200px;
          padding: 20px;
          border: 2px solid lightgray;
          border-radius: 10px;
          background-color: whitesmoke;
          color: gray;
          font-weight: 400px;
          position: absolute;
          top: 50px;
          right: 0px;
          z-index: 999;
        }
      }

      button {
        padding: 10px 18px;
        background-color: #013914;
        color: white;
        border: 2px solid white;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          background-color: #3af0a1 !important;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border-top: 0.125px solid lightgray;
    border-bottom: 0.125px solid lightgray;
  }

  .menues {
    width: 90%;
    padding: 0px 0;
    display: flex;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    .menuLink {
      padding-block: 10px;
      position: relative;
      &:hover {
        border-bottom: 4px solid #3af0a1;
      }
      .menuOption {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 200px;
        padding: 20px;
        border: 2px solid lightgray;
        border-radius: 10px;
        background-color: whitesmoke;
        color: gray;
        font-weight: 400px;
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 999;
      }
    }
  }
}
