.trustedBy {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-block: 40px;
    .logo {
      display: flex;
      align-items: center;
      gap: 30px;
      span {
        color: darkgray;
        font-size: 20px;
        font-weight: 500;
      }
      img {
        height: 70px;
        object-fit: contain;
      }
    }
  }
}
